.main{
    width: 75%;
    height: 100vh;
    background-image: linear-gradient(to right, #f7f2ef, #fae6d8, #fbdac1, #f9cfaa, #f6c492);

    align-items: center;
    display: flex;
    justify-content: center;

}